@use "sass:math";
@use "btn-scema" as vars with (
$font-size: 24px,
$btn-color: crimson,
$btn-bgcolor: blue
);

.small-btn {
    font-size: vars.$font-size;
    color: vars.$btn-color;
    background-color: vars.$btn-bgcolor;
}

@debug math.$pi;